## Deliverable 2. Create a Customer Travel Destinations Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [10]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description
0,0,Avarua,CK,2022-07-25 22:26:35,-21.2078,-159.7750,73.45,64,75,9.22,broken clouds
1,1,Rikitea,PF,2022-07-25 22:25:51,-23.1203,-134.9692,75.61,71,67,16.33,broken clouds
2,2,Saint-Denis,FR,2022-07-25 22:27:03,48.9167,2.3333,68.49,66,0,8.05,clear sky
3,3,Havre De Grace,US,2022-07-25 22:27:03,39.5493,-76.0916,84.43,92,82,7.43,broken clouds
4,4,Albany,US,2022-07-25 22:21:54,42.6001,-73.9662,82.58,56,33,10.80,scattered clouds

In [11]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [12]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description
0,0,Avarua,CK,2022-07-25 22:26:35,-21.2078,-159.7750,73.45,64,75,9.22,broken clouds
1,1,Rikitea,PF,2022-07-25 22:25:51,-23.1203,-134.9692,75.61,71,67,16.33,broken clouds
3,3,Havre De Grace,US,2022-07-25 22:27:03,39.5493,-76.0916,84.43,92,82,7.43,broken clouds
4,4,Albany,US,2022-07-25 22:21:54,42.6001,-73.9662,82.58,56,33,10.80,scattered clouds
6,6,Palaia Fokaia,GR,2022-07-25 22:27:05,37.7200,23.9463,86.72,53,14,8.21,few clouds
9,9,Vaini,TO,2022-07-25 22:25:58,-21.2000,-175.2000,78.96,83,20,8.05,few clouds
11,11,Yellowknife,CA,2022-07-25 22:21:46,62.4560,-114.3525,72.12,40,75,24.16,broken clouds
16,16,Atuona,PF,2022-07-25 22:24:03,-9.8000,-139.0333,76.96,71,28,9.89,scattered clouds
17,17,Hilo,US,2022-07-25 22:21:07,19.7297,-155.0900,89.28,72,75,9.22,broken clouds
19,19,Toktogul,KG,2022-07-25 22:27:07,41.8708,72.9402,75.56,32,0,1.39,clear sky

In [13]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current description    0
dtype: int64

In [14]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description
0,0,Avarua,CK,2022-07-25 22:26:35,-21.2078,-159.7750,73.45,64,75,9.22,broken clouds
1,1,Rikitea,PF,2022-07-25 22:25:51,-23.1203,-134.9692,75.61,71,67,16.33,broken clouds
3,3,Havre De Grace,US,2022-07-25 22:27:03,39.5493,-76.0916,84.43,92,82,7.43,broken clouds
4,4,Albany,US,2022-07-25 22:21:54,42.6001,-73.9662,82.58,56,33,10.80,scattered clouds
6,6,Palaia Fokaia,GR,2022-07-25 22:27:05,37.7200,23.9463,86.72,53,14,8.21,few clouds
...,...,...,...,...,...,...,...,...,...,...,...
680,680,Pereira Barreto,BR,2022-07-25 22:30:51,-20.6383,-51.1092,75.79,35,6,2.10,clear sky
684,684,Hit,IQ,2022-07-25 22:30:52,33.6416,42.8251,88.68,13,0,7.90,clear sky
685,685,Mangai,CD,2022-07-25 22:30:53,-4.0500,19.5333,76.14,62,79,2.28,broken clouds
686,686,Chhindwara,IN,2022-07-25 22:30:53,22.0667,78.9333,71.49,95,100,0.38,light rain
687,687,Luebo,CD,2022-07-25 22:30:54,-5.3500,21.4167,78.94,37,54,1.16,broken clouds

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,Avarua,CK,73.45,broken clouds,-21.2078,-159.7750,
1,Rikitea,PF,75.61,broken clouds,-23.1203,-134.9692,
3,Havre De Grace,US,84.43,broken clouds,39.5493,-76.0916,
4,Albany,US,82.58,scattered clouds,42.6001,-73.9662,
6,Palaia Fokaia,GR,86.72,few clouds,37.7200,23.9463,
9,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,
11,Yellowknife,CA,72.12,broken clouds,62.4560,-114.3525,
16,Atuona,PF,76.96,scattered clouds,-9.8000,-139.0333,
17,Hilo,US,89.28,broken clouds,19.7297,-155.0900,
19,Toktogul,KG,75.56,clear sky,41.8708,72.9402,

In [21]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,Avarua,CK,73.45,broken clouds,-21.2078,-159.7750,Paradise Inn
1,Rikitea,PF,75.61,broken clouds,-23.1203,-134.9692,People ThankYou
3,Havre De Grace,US,84.43,broken clouds,39.5493,-76.0916,Super 8 by Wyndham Havre De Grace Aberdeen Area
4,Albany,US,82.58,scattered clouds,42.6001,-73.9662,
6,Palaia Fokaia,GR,86.72,few clouds,37.7200,23.9463,Plaza Resort Hotel
9,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,Keleti Beach Resort
11,Yellowknife,CA,72.12,broken clouds,62.4560,-114.3525,The Explorer Hotel
16,Atuona,PF,76.96,scattered clouds,-9.8000,-139.0333,Villa Enata
17,Hilo,US,89.28,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
19,Toktogul,KG,75.56,clear sky,41.8708,72.9402,KAGAN

In [26]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [27]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
city_des = hotel_df["Current description"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))